body {
    background-color: black;
	font-family: -apple-system, sans-serif;
}

.bulbListItem {
    text-align: center;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 80pt;

    margin: 10pt;

    width: 500pt;
    background-color: #222;
    border-radius: 20pt;

	-webkit-transition: opacity 1.0s ease-in-out;
    -moz-transition: opacity 1.0s ease-in-out;
    transition: opacity 1.0s ease-in-out;
}

.bulbListItem.on {
	opacity: 1.0;
}

.bulbListItem.off {
	opacity: 0.5;
}

@media (max-width: 1600pt) {
    .bulbListItem {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
}

@media (max-width: 600pt) {
    .bulbListItem {
        font-size: 50pt;
        display: block;
    }
}
