body {
    background-color: black;
	font-family: -apple-system, sans-serif;
}

.bulbListItem {
    text-align: center;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 80pt;

    margin: 10pt;

    width: 500pt;
    background-color: #222;
    border-radius: 20pt;
}

@media (max-width: 1600pt) {
    .bulbListItem {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
}

@media (max-width: 600pt) {
    .bulbListItem {
        font-size: 50pt;
        display: block;
    }
}

#loading {
    text-align: center;
    color: gray;
    font-size: 150pt;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}
